<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
  <h1 style="color: purple"><%= kindOfDay %></h1>
  <ul>
    <% for(var i=0; i<newListItems.length; i++){ %>
    <li><%= newListItems[i] %></li>
    <% } %>
    <li>
      <form  action="/" method="post">
        <input type="text" name="newLine" value="">
        <button type="submit" name="button">Add</button>
      </form>
    </li>
  </ul>


  </body>
</html>
